<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include header %>
    <a href=<%= "/club/"+club._id+"/update" %>>Update Club</a>
    <a href=<%= "/club/"+club._id+"/delete" %>>Delete Club</a>
    <h1><%= club.name %></h1>
    <img style="height:100px;width:100px" src=<%= club.image %>>
    <p>Stadium: <%= club.stadium %></p>
    <p>Founded: <%= club.founded %></p>
    <hr>
    <form method="POST" action="">
      <p>Confirm you want to delete <%= club.name %>?</p>
      <input id="id" name="id" type="text" hidden value=<%= club._id %>>
      <button type="submit">Delete</button>
    </form>

  </body>
</html>
