<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include header %>
    <a href="/club/create">Add Club</a>

    <h1><%= title %></h1>

    
    <div class="clubs">
      <% if (clubs.length > 0) { %>
        <% for (let club of clubs) { %>
          <div class="club">
            <a href=<%= club.url %> class="club-tile">
              <img style="height:100px;width:100px" src=<%= club.image %> alt="No available image">
              <h3><%= club.name %></h3>
            </a>
          </div>
        <% } %>
      <% } %>
    </div>

  </body>
</html>
