<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include header %>
    <h1><%= title %></h1>


    <% if (players.length > 0) { %> 
      <% for (let player of players) { %>
        <a href=<%= player.url %>>
          <img style="height:100px;width:100px" src=<%= player.image %>>
          <h3><%= player.name %> - <%=player.rating %></h3>
        </a>
        <a href=<%= player.club.url %>>
          <img style="height:60px;width:60px" src=<%= player.club.image %>>
        </a>
        <hr>
      <% } %> 
    <% } %>
  </body>
</html>
