<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <% if (players.length > 0) { %> 
      <% for (let player of players) { %>
        <h3><%= player.name %> - <%=player.rating %></h3>
        <p><%= player.club.name %></p>
        <p><%= player.position %></p>
        <p><%= player.country %></p>
      <% } %> 
    <% } %>
  </body>
</html>
