<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include header %>
    <h1><%= title %></h1>
    <form method="POST" action="">
      <label for="name">Name: </label>
      <input id="name" type="text" name="name" value="<%= (player) ? player.name : "" %>">

      <label for="position">Position: </label>
      <select name="position" id="position">
        <option value=null selected></option>
        <option value="Goalkeeper" <%= (player.position === "Goalkeeper") ? "selected" : "" %>>Goalkeeper</option>
        <option value="Defender" <%= (player.position === "Defender") ? "selected" : "" %>>Defender</option>
        <option value="Midfielder" <%= (player.position === "Midfielder") ? "selected" : "" %>>Midfielder</option>
        <option value="Forward" <%= (player.position === "Forward") ? "selected" : "" %>>Forward</option>
      </select>

      <label for="club">Club: </label>
      <select name="club" id="club">
        <option value=null selected></option>
        <% for (const club of clubs) { %>
          <option value=<%= club._id %> <%= (`${player.club}` == `${club._id}`) ? "selected" : "" %>><%= club.name %></option>
        <% } %>
      </select>

      <label for="country">Country: </label>
      <input id="country" type="text" name="country" value="<%= (player) ? player.country : "" %>">

      <label for="rating">Rating: </label>
      <input id="rating" type="number" min="0" max="100" name="rating" value="<%= (player) ? player.rating : "" %>">

      <label for="image">Player Image URL: </label>
      <input id="image" type="text" name="image" value="<%= (player) ? player.image : "" %>">

      <button type="submit">Add Player</button>
    </form>

    <ul>
    <% for (const error of errors) { %>
      <li><%= error.msg %></li>
    <% } %>
    </ul>

  </body>
</html>