<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include header %>
    <a href=<%= "/player/"+player._id+"/update" %>>Update Player</a>
    <a href=<%= "/player/"+player._id+"/delete" %>>Delete Player</a>

    <h1><%= player.name %></h1>
    <img style="height:100px;width:100px" src=<%= player.image %>>
    <h3><%=player.rating %></h3>
    <a href=<%= player.club.url %>>
      <img style="height:60px;width:60px" src=<%= player.club.image %>>
      <p><%= player.club.name %></p>
    </a>
    <p><%= player.position %></p>
    <p><%= player.country %></p>
    <hr>

  </body>
</html>
