<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include header %>
    <a href="/player/create">Add Player</a>
    <h1><%= title %></h1>


    <div class="players">
      <% if (players.length > 0) { %>
        <% for (let player of players) { %>
          <div class="player">
            <a href=<%= player.url %> class="player-avatar">
              <img style="height:100px;width:100px" src=<%= player.image %>>
              <h3><%= player.name %> - <%=player.rating %></h3>
            </a>
            <a href=<%= player.club.url %> class="player-club">
              <img style="height:60px;width:60px" src=<%= player.club.image %>>
            </a>
          </div>
        <% } %>
      <% } %>
    </div>

  </body>
</html>
