<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include header %>

    <h1><%= player.name %></h1>
    <img style="height:100px;width:100px" src=<%= player.image %>>
    <h3><%=player.rating %></h3>
    <a href=<%= player.club.url %>>
      <img style="height:60px;width:60px" src=<%= player.club.image %>>
      <p><%= player.club.name %></p>
    </a>
    <p><%= player.position %></p>
    <p><%= player.country %></p>
    <hr>

    <form method="POST" action="">
      <p>Confirm you want to delete <%= player.name %>?</p>
      <input id="id" name="id" type="text" hidden value=<%= player._id %>>
      <button type="submit">Delete</button>
    </form>

  </body>
</html>
